html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

#map-display {
	width: 100%;
	height: 100%;
}

#map-title {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 10;
	
	font-family: 'Arima Madurai', cursive;
	font-weight: 800;
	color: #8F2541;
	text-shadow: 1px 1px 3px #521525;
	padding: 0;
	margin: 0;
}

#map-title .small {
	font-size: 0.5em;
	vertical-align: text-top;
}